@import 'config';
@import 'menu';

// Basic Reset
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.75);
  }

  &.hire-btn {
    cursor: pointer;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // Push footer to bottom
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }

    img {
      width: 35px;
      border-style: none;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

// About
.about-info {
  display: grid;
  gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    width: 250px;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: 5px solid $secondary-color;
  }
}

// Work/Projects
.projects {
  display: grid;
  gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px solid #fff;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.contact-cards {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 5rem;
  width: 100%;

  .upwork-img {
    width: 100px;
    height: 150px;
  }

  .boxes:nth-child(1) {
    display: flex;
    flex-flow: column nowrap;
    background: darken($primary-color, 5);
    text-align: center;
    padding: 5rem;
    border-radius: 8px;
    width: 275px;
    height: 400px;
    margin-right: -20px;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: end;

    .text-secondary {
      font-size: 2.5rem;
      margin-top: -2rem;
    }

    p {
      margin-top: 2.5rem;
      font-size: 1.25rem;
    }

    a {
      margin-top: 0rem;
      border-radius: 50%;
      border: none;
      background: transparent;
    }

    a:hover {
      border-radius: 50%;
      background: $secondary-color;
      @include easeOut;
    }
  }

  .boxes:nth-child(2) {
    display: flex;
    flex-flow: column nowrap;
    background: lighten($primary-color, 5);
    text-align: center;
    padding: 2.5rem 5rem 5rem 5rem;
    border-radius: 8px;
    height: 475px;
    z-index: 1;

    .text-secondary {
      font-size: 2.5rem;
      margin: -2rem auto 2rem auto;
    }

    input {
      text-align: center;
      margin-bottom: 1.5rem;
      border-radius: 4px;
      border: none;
      outline: none;
      width: 25rem;
      height: 25px;
      padding: 0.25rem 0.5rem;
    }

    textarea {
      text-align: left;
      border-radius: 4px;
      border: none;
      outline: none;
      padding: 0.25rem 0.5rem;
      min-width: 100%;
      height: 100px;
    }

    .g-recaptcha {
      transform: scale(0.65);

      iframe {
        border-radius: 15px;
      }
    }

    .captcha {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
    }
    .captcha-fake-field {
      position: absolute;
      background: transparent;
      bottom: 0;
      border: none;
      display: block;
      height: 1px;
      width: 1px;
      top: 50%;
      left: 50%;
      z-index: -1;
    }

    .contact-btn {
      margin: 0;
      width: 80%;
      height: 30px;
      border-radius: 4px;
      border: none;
      outline: none;

      &:hover {
        background-color: $secondary-color;
        @include easeOut;
      }
    }
  }

  .boxes:nth-child(3) {
    display: flex;
    flex-flow: column nowrap;
    background: darken($primary-color, 5);
    text-align: center;
    padding: 5rem;
    border-radius: 8px;
    width: 275px;
    height: 400px;
    margin-left: -20px;
    justify-self: start;

    .text-secondary {
      font-size: 2.5rem;
      margin: -2rem auto 2rem auto;
    }

    .resume,
    .linkedin {
      display: block;
    }

    .btn-link:link,
    .btn-link:visited {
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      letter-spacing: 0.08em;
      border-radius: 0;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import 'mobile';
